h1 {
  text-align: left;
  font-size: 64px; }

h2 {
  text-align: left;
  font-size: 30px; }

li {
  padding: 20px; }

.navbar-toggler-icon {
  color: #ffffff !important; }

.navbar-toggler {
  color: white !important; }

.bg-oscuro {
  background-color: white; }

.header__nav {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-right: 50px;
  margin-top: 0px; }

.header__logo {
  height: 100px; }

#logo {
  height: 100px; }

.estilo__letra:hover {
  color: white; }

/* .header__imagen{
    width:100%;
    height: 800px;
} */
.estilo__letra {
  color: white;
  text-decoration: none; }

.hero {
  background-image: url(../Imagenes/Imagen1.png);
  height: 800px;
  background-size: cover;
  position: relative;
  width: 100%; }

.header__texto {
  color: white;
  text-align: center;
  margin-top: 200px;
  margin-right: 800px; }

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  /* transparencia en el hero */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }

.estilo__boton {
  margin-top: 20px;
  border-color: white;
  color: white;
  padding: 20px;
  border: solid 1px;
  border-radius: 0;
  margin-right: 350px; }

.estilo__icono {
  height: 20px;
  width: 20px;
  margin-bottom: 7px; }

/* #navbar__header{
  
    position: fixed; 
    margin-top:20px;
    width: 100%; 
    transition: top 0.3s;
     
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    
  }

  #navbar a:hover {
    background-color: #ddd;
    color: black;
  } */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.my-float {
  margin-top: 16px; }

@media (max-width: 480px) {
  .float {
    visibility: hidden; } }

footer {
  position: relative;
  background-color: #000000;
  height: 254px;
  margin-bottom: 0px; }

.footer__letra {
  width: 100%;
  text-align: center;
  color: white;
  padding: 40px;
  margin-bottom: -20px; }

.footer__size {
  font-size: 24px; }

.footer__size1 {
  font-size: 16px; }

.footer__imagen {
  position: absolute;
  height: 100px;
  margin-top: 40px;
  margin-left: 50px; }

.footer__icono {
  height: 49px;
  width: 49px;
  align-items: center;
  margin: 5px;
  color: #126262; }

.footer__icono-instagram {
  height: 42px;
  width: 42px;
  margin: 5px;
  color: #126262; }

.footer__icono-linkedin {
  height: 43px;
  width: 43px;
  margin: 5px;
  color: #126262; }

.iconos {
  width: 100%;
  text-align: center; }

.p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif; }

.h2 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-weight: bolder; }

.contenedor {
  margin-top: 40px; }

.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: 20px;
  gap: 20px; }

@media (min-width: 768px) {
  .nosotros {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    margin: 0px 60px 0px 60px;
    max-height: 500px; } }

/* .nosotros__contenido {
    
}
 */
.nosotros__imagen {
  width: 100%; }

@media (min-width: 768px) {
  .nosotros__imagen {
    grid-column: 2/3;
    max-height: 50%;
    object-fit: contain; } }

.barrita {
  color: #126262;
  background-color: #126262;
  width: 46px;
  height: 3px;
  border-radius: 5px; }

.nosotrosFlex {
  margin: 0px; }

@media (min-width: 768px) {
  .nosotrosFlex {
    margin: 0px 60px 0px 60px; } }

.bloques {
  display: flex; }

.valores {
  margin: 20px; }

@media (min-width: 768px) {
  .valores {
    margin: 0px 60px 0px 60px; } }

/* Bloques */
.bloques {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px; }

@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr); } }

.bloque {
  text-align: center; }

html {
  min-height: 100%;
  position: relative;
  margin-bottom: 0; }

body {
  overflow-x: hidden;
  margin: 0;
  margin-bottom: 0; }

.titulo__principal {
  width: 100%;
  text-align: center; }

.especialidades__navbar {
  box-shadow: 5px 5px 10px grey; }

.estilo {
  font-weight: bold; }

.linea {
  margin-top: 160px;
  width: 100%;
  margin-left: 49%;
  text-align: center;
  font-weight: bold; }

.card__margen {
  margin: 40px;
  margin-bottom: 60px; }

.card__estilo {
  height: 250px !important; }

.bg-green {
  background-color: #126262; }

.linea__estilo {
  background-color: #126262;
  height: 4px;
  border-color: #126262;
  width: 60px;
  color: #126262; }

.dropdown {
  display: inline-block;
  position: relative; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4); }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none; }

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD; }

#texto, #texto1, #texto2, #texto3, #texto4, #texto5, #texto6, #texto7, #texto8, #texto9 {
  display: none;
  color: white; }

.texto__educacion {
  align-items: center;
  text-align: center; }

.titulo__arrow {
  display: flex;
  justify-content: space-between; }

.letra__especialidades {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  /* margin-left: 20%; */
  text-align: center !important; }

.arrow {
  height: 55px;
  margin-top: -12px;
  margin-bottom: -20px; }

#flechaarriba, #flechaarriba1, #flechaarriba2, #flechaarriba3, #flechaarriba4, #flechaarriba5, #flechaarriba6, #flechaarriba7, #flechaarriba8 {
  display: none; }

.subtitulo__contactanos {
  text-align: center; }

.contenedor__form {
  /*     display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 80px;
  margin-top: 80px; }

.form {
  width: 50%; }

.form__labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px; }

textarea {
  margin-left: 8%; }

.mensaje {
  margin-left: 8%; }

.enviar {
  margin-left: 8%;
  padding: 15px;
  height: 56px;
  width: 141px;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid rgba(51, 51, 51, 0.47);
  border-radius: 2px; }

.input {
  border: 1px solid rgba(51, 51, 51, 0.47); }

.font__datos {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: rgba(51, 51, 51, 0.47); }

.datos {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #333333;
  margin-top: 15px; }

.input__texto {
  width: 324px !important;
  height: 56px;
  border: 1px solid rgba(51, 51, 51, 0.47); }

body {
  font-family: 'Domine', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; }
