html {
    min-height: 100%;
    position: relative;
    margin-bottom:0;
  }

body{
    overflow-x: hidden;
    
        margin: 0;
        margin-bottom:0;
      
}

.especialidades__navbar{
    box-shadow: 5px 5px 10px grey;
}

.estilo{
    font-weight: bold;
}

.linea{
    margin-top:150px;
    width:100%;
    margin-left:50%;
    text-align: center;
    font-weight: bold;
}

.card__margen{
    margin:40px;
}

.card__estilo{
    height:250px !important;
}

.bg-green{
    background-color: #126262;
}

.letra__especialidades{
    color:white;
    font-weight: bold;
    text-align: center;
}