html {
    min-height: 100%;
    position: relative;
    margin-bottom:0;
  }

body{
    overflow-x: hidden;
    
        margin: 0;
        margin-bottom:0;
      
}

.titulo__principal{
  width:100%;
  text-align: center;
}

.especialidades__navbar{
    box-shadow: 5px 5px 10px grey;
}

.estilo{
    font-weight: bold;
}

.linea{
    margin-top:160px;
    width:100%;
    margin-left:49%;
    text-align: center;
    font-weight: bold;
}

.card__margen{
    margin:40px;
    margin-bottom: 60px;
}

.card__estilo{
    height:250px !important;
}

.bg-green{
    background-color: #126262;
}



.linea__estilo{
    background-color:#126262;
    height:4px;
    border-color:#126262;
    width:60px;
    color:#126262;
    
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); 
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

  #texto, #texto1 , #texto2, #texto3 , #texto4, #texto5, #texto6, #texto7, #texto8, #texto9{
    display:none;
    color:white;
  }

.texto__educacion{
  align-items: center;
  text-align: center;
  
}

.titulo__arrow{
  display:flex;
  justify-content: space-between;
  
}

.letra__especialidades{
  color:white;
  font-weight: bold;

  font-size: 1.5rem;
  width:100%;
  /* margin-left: 20%; */
  text-align: center !important;
}

.arrow{
  height:55px;
  margin-top: -12px;
  margin-bottom: -20px;
 

}

#flechaarriba, #flechaarriba1, #flechaarriba2, #flechaarriba3, #flechaarriba4, #flechaarriba5, #flechaarriba6, #flechaarriba7, #flechaarriba8{
  display:none;
}

