@import "header";
@import "footer";
@import "nosotros";
@import "especialidades";





body{
    font-family: 'Domine', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}